<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js" integrity="sha512-Lii3WMtgA0C0qmmkdCpsG0Gjr6M0ajRyQRQSbTF6BsrVh/nhZdHpVZ76iMIPvQwz1eoXC3DmAg9K51qT5/dEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<head>
    <title>Getting Started: Handling Form Submission</title>
    <style type="text/css">
        .chartbox{
            height: 600px;
             width: 600px;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${q12}" method="post">
    <p>Season: <input type="text" th:field="*{season}" /></p>
    <p>Parameter: <input type="text" th:field="*{parameter}" /></p>
    <p>SoldOrBoughtMonth: <input type="text" th:field="*{soldOrBoughtMonth}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<div th:switch="${tableDisplay}">
    <table th:case=1>
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Count
                </th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="row: ${data}">
            <td th:text="${row[0]}"></td>
            <td th:text="${row[1]}"></td>
        </tr>
        </tbody>
        User is an administrator
    </table>
</div>

<div th:switch="${tableDisplay}" class="chartbox">
    <canvas th:case=1 id="myChart" width="2" height="2"></canvas>
</div>
<div th:switch="${tableDisplay}" class="selectBox">
    <select th:case=1 id = "p2">
         <option th:each="val:${param2}" th:value="${val}" th:text="${val}"></option>
    </select>
</div>

<script th:inline="javascript">
    const plugin = { //bckgrnd color for graph
  id: 'custom_canvas_background_color',
  beforeDraw: (chart) => {
    const ctx = chart.canvas.getContext('2d');
    ctx.save();
    ctx.globalCompositeOperation = 'destination-over';
    ctx.fillStyle = 'lightBlue';
    ctx.fillRect(0, 0, chart.width, chart.height);
    ctx.restore();
  }
};
    var dataset = /*[[${data}]]*/ null; //query solution
    var r = /*[[${data_row}]]*/ null; //no of rows
    var c = /*[[${data_col}]]*/ null; //no of cols
    console.log(r);
    console.log(c);
    let Labels = [];
    let Datapoints = [];
    var val = 1; //can be between 1 to c-1 (to select specific parameter - city,region,season)
    for(i=0;i<r-1;i++) { Labels[i]=dataset[i+1][0]; Datapoints[i]=parseInt(dataset[i+1][val]);}
    console.log(Labels); //x axis vals
    console.log(Datapoints);//y axis vals
    const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, { //graph definition
    type: 'bar',
    data: {
        labels: Labels,
        datasets: [{
            data: Datapoints,
            backgroundColor: [
            'rgba(255, 99, 132, 0.7)',
              
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(153, 102, 255, 0.7)',
                'rgba(255, 159, 64, 0.7)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
               
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            hoverOffset: 5,
            borderWidth: 1,
        }
        ]
    },
    plugins: [plugin],
    options: {
      plugins: {
            title: {
                display: true,
                text: 'Graph'
            },

        },
        
    }
   
});
var p2val = document.getElementById('p2');
p2val.addEventListener('change',param2_tracker);
function param2_tracker(){ //function to change graph as selection changes
    console.log(p2val.value);
    for(i=1;i<c;i++) if(dataset[0][i]==p2val.value) val=i;
    for(i=0;i<r-1;i++) Datapoints[i]=parseInt(dataset[i+1][val]);
    console.log(Datapoints);
    myChart.data.datasets[0].data = Datapoints;
    myChart.update();
}
 </script> 
</body>
</html>
